.root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding-top: 45%;
    padding-bottom: 5%;
    background-image: url("../images/landing.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.input {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    &__text {
        margin: 0px;
        padding-left: 3.7rem;
        width: 61rem;
        height: 11.7rem;
        font-size: 4.6rem;
        border-top-left-radius: 1.4rem;
        border-bottom-left-radius: 1.4rem;
        border-right: none;
        border: solid 0.3rem white;
    }
    &__button {
        margin: 0px;
        width: 34.6rem;
        height: 12.6rem;
        font-size: 4.6rem;
        border-top-right-radius: 1.4rem;
        border-bottom-right-radius: 1.4rem;
        border: solid 0.3rem white;
        border-left: none;
    }
}